# Database
DATABASE_URL=postgresql://pet_user:pet_password@localhost:5432/pet_service?connection_limit=50

# JWT
JWT_SECRET=your-secret-key-here

# Server
PORT=3001

# Redis
REDIS_URL=redis://localhost:6379
